<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/Images/stark-Recycle1.png" width = "300" height ="100" style ="vertical-align:top;margin:-27px -10px"  />

        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Forside
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Environment">
                <span class="oi oi-plus" aria-hidden="true"></span> Miljøtiltag
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShoppingCart">
                <span class="oi oi-plus" aria-hidden="true"></span> Indkøbskurv
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AboutUsPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Om Stark Recycle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ContactPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Kontakt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProfilePage">
                <span class="oi oi-plus" aria-hidden="true"></span> Profil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> CounterTest
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
