@page "/AboutUsPage"


<h3>Tak fordi du bruger Stark Recycle</h3>

<p>
    Stark Recycle er vores koncept fra Stark Group til at fremme vores budskaber og bæredygtige alternativer til dig
</p>

<div>
    <p> Hos Stark Group arbejder vi hårdt på at støtte om FN's Sustainable Development Gouls mod bedre arbejdsvilkår, Slutte fattigdom og skabe bæredygtige alternativer for miljøet</p>
    <p> Vi støtter disse SDG målene 12 og 15 men omkring Ansvarlig forbrug og produktion og liv på land. Dog støtter vi også om SDG målene 4,5,7,8,10,11,13,16 og 17 gennem vores Operation og Supply Chain</p>
    <p> <img src="/sdg-4.svg" /></p>
</div>

@code {

}
