@page "/AboutUsPage"

<h3>Tak fordi du bruger Stark Recycle</h3>

<p>
    Stark Recycle er vores koncept fra Stark Group til at fremme vores budskaber og bæredygtige alternativer til dig
</p>

<p> Hos Stark Group arbejder vi hårdt på at støtte om FN's Sustainable Development Gouls mod bedre arbejdsvilkår, Slutte fattigdom og skabe bæredygtige alternativer for miljøet</p>


<div class="container"><div class="row"><div class="col-sm-12">    <div class="row"><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3858-4401 sg-bottompadding-xsmall"
            >
    <img src="/Images/sdg-1.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4401">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3859-4402 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-2.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4402">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3860-4403 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-3.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4403">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3861-4404 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-4.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4404">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3862-4405 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-5.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4405">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3863-4406 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-6.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4406">
    </div>
</div></div>
</div></div></div>

<div class="container"><div class="row"><div class="col-sm-12">    <div class="row"><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3864-4407 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-7.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4407">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3865-4408 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-8.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4408">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3866-4409 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-9.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4409">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3867-4410 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-10.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4410">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3868-4411 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-11.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4411">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3869-4412 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-12.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4412">
    </div>
</div></div>
</div></div></div>

<div class="container"><div class="row"><div class="col-sm-12">    <div class="row"><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3870-4413 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-13.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4413">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3871-4414 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-14.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4414">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3872-4415 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-15.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4415">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3873-4416 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-16.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4416">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3874-4417 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg-17.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4417">
    </div>
</div><div class="col-sm-2">

        <div class="ccm-custom-style-container ccm-custom-style-main3875-4418 sg-bottompadding-xsmall"
            >
                        <img src="/Images/sdg.svg" alt="" class="ccm-svg ccm-image-block img-responsive bID-4418">
    </div>
</div></div>
</div></div></div>

<div>
    
    <p> Vi støtter disse SDG målene 12 og 15 men omkring Ansvarlig forbrug og produktion og liv på land. Dog støtter vi også om SDG målene 4, 5 ,7 ,8 ,10 ,11 ,13 ,16 og 17 gennem vores Operation og Supply Chain</p>

</div>


@code {

}
