@page "/ContactPage"

<PageTitle> Kontakt os</PageTitle> 

<h1>Hjælp og Kontakt </h1> 

<h2> Hej (Kunde), Hvordan kan vi hjælpe dig?</h2>
<p> </p>

<p> 
   
    Har du brug for hjælp vedrørende webshoppen, er du altid mere end velkommen til at kontakte os. Vi sidder klar til at besvare alt fra spørgsmål om ordrer, leveringstider, varer og lignende. Vi besvarer mails løbende og indenfor 24 timer på hverdage
    Har du spørgsmål til vores produkter kan du tjekke vores links for neden omkring vores forskellige produkter. 
    
    
     
</p>

<p> Vi sidder klar ved telefonen i følgende åbningstider:

<p>Mandag - fredag 07:00 - 18:00</p>

<p>Weekend og helligdage lukket</p>

Har du brug for hjælp vedrørende webshoppen, er du altid mere end velkommen til at kontakte os. 
Vi sidder klar til at besvare alt fra spørgsmål om ordrer, leveringstider, varer og lignende. 
Vi besvarer mails løbende og indenfor 24 timer på hverdage</p>

<div> 
    <p>Tlf. 82 52 52 52 </p>

    <p> <a href="url"> webshop@stark.dk</a></p>

    <p> <a href="url"> https://www.stark.dk/maling</a> </p>

    <p> <a href="url"> https://www.stark.dk/byggematerialer</a> </p>
</div>


@code {

}
