@page "/"

<PageTitle>Forside</PageTitle>

<h1>Stark Recycle!</h1>

Velkommen til din Stark Recycle App.


Se vores kollektion af nye varer på lager!
<p>  </p>

<p>Hvis du gerne vil aflevere dit eget restmatriel i en byttehandel for StarkPoints, så følg guiden her:</p>


