@page "/"
@using ClassLibraryProducts
@using StarkRecycleBlazorApp.Data
@inject NavigationManager NavMgr
@using QRCoder 
@using System.Drawing
@using System.Drawing.Imaging
@using System.IO

<PageTitle>Forside</PageTitle>

<h1>Stark Recycle!</h1>

Velkommen til din Stark Recycle App.


Se vores kollektion af nye varer på lager!
<p>  </p>

<p>Hvis du gerne vil aflevere dit eget restmaterialle i en byttehandel for StarkPoints, så følg guiden her:</p>

<p>
<button @onclick=@Navigate>Til PostEditor</button>
</p>

@code {


    void Navigate()
    {
        NavMgr.NavigateTo("PostEditor");
    }
}
