@page "/ProfilePage"
<h3>ProfilePage</h3>

<h4>Du kan redigere oplysningerne ved at ændre rubrikkerne og herefter trykke "opdater"</h4>
<h4>Dine StarkPoints kan ses her</h4>


@*Indsæt liste med kundedata*@

@code {

}
