@page "/ShoppingCart"
@using QRCoder
@using System.Drawing
@using System.Drawing.Imaging
@using System.IO
<h3>ShoppingCart</h3>
<p>   </p>
<p>   </p>
<p> Her kan du se dine nuværende produkter til gavn for miljøet</p>
<p> Husk at gennemføre den fulde reservationsproces for at sikre produktet</p>


@code {


}
